html {
	background-color: lightgrey;
}

h1 {
	font-size: 2.7em;
	display: inline;
	color: #595959; 
}

body {
	width: 580px;
	height: 580px;
	margin: auto;
	margin-top: 50px;
}

button {
	margin-right: -20px;
	float: right;
	width: 200px;
	height: 50px;
	font-size: 1.6em;
	background-color: #7e7e7e;
	border: 1px grey solid;
	border-radius: 4px;
	color: #dadada;
}


.game_board {
	
	width: 580px;
	height: 580px;
	padding: 10px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 40px;
	background-color: #7e7e7e;
	border: 1px grey solid;
	border-radius: 4px;
}

.cell {
	margin: 10px;
	float: left;
	width: 125px;
	height: 125px;
	border-radius: 4px;
	background-color: #a3a3a3;
	text-align: center;
	vertical-align: center;
	font-size: 110px;
	font-family: "Helvetica";
}

.instructions {
	margin: 20px 0px 20px 0px;
}

[data-number^="0"] {
	color: #a3a3a3;
}
[data-number^="2"] {
	color: #595959;
	background-color: #dadada;
}
[data-number^="4"] {
	color: #595959;
	background-color: #EDBB99;
}
[data-number^="8"] {
	color: #595959;
	background-color: #F7DC6F;
}
[data-number^="16"] {
	color: #595959;
	background-color: #58D68D;
}